{% extends 'base.html' %}
{% block title%}Indice{% endblock %}

{% block content%}

<legend>Registrar Academico</legend>
<div class="row">
	<div class="col">
		<form class="form-horizontal" method="POST">
		{% csrf_token %}
		  <div class="form-group">
		    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
		    <div class="col-sm-10">
		      <input name="nombre" type="text" class="form-control" id="lineedit" placeholder="Nombre Academico">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="apellido" class="col-sm-2 control-label">Apellido</label>
		    <div class="col-sm-10">
		      <input name="apellido" type="text" class="form-control" id="lineedit" placeholder="Apellido Academico">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="rut" class="col-sm-2 control-label">Rut</label>
		    <div class="col-sm-10">
		      <input name="rut" type="text" class="form-control" id="lineedit" placeholder="12345678-0">
		    </div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-10 col-sm-offset-2">
			  	<div class="panel panel-primary">
			  	<div class="panel-heading">
			  		<label for="asignaturas">Asignaturas</label>
			  	</div>
			  	<div class="panel-body">
			  		<div class="col-sm-10 col-sm-offset-2">
					  	<select multiple name="asignaturas" class="form-control">
					  		{% for a in asignaturas%}
					  		<option value="{{a.id}}" >{{ a.nombre }}</option>
							{% endfor %}
					  	</select>
			  		</div>
			  	</div>
			  	<div class="panel-footer">
			  		Puede escoger ninguna, una, varias (<kbd>ctrl</kbd>+<kbd>CLICK</kbd>) o todas
			  	</div>
			  	</div>		  		
		  	</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-offset-2 col-sm-10">
	  		  <table id="tabla_cargas" class="table"> 
			  	<thead> 
			  		<th>Nombre</th>
			  		<th>Apellido</th>
			  		<th>R.U.T</th> 
			  		<th></th>
			  	</thead> 
			  	<tbody> 
			  		<tr>
			  			<td>
			  				<input class="form-control" id="nuevo_nombre" type="text">
			  			</td>
			  			<td>
			  				<input class="form-control" id="nuevo_apellido" type="text">
			  			</td>
			  			<td>
			  				<input class="form-control" id="nuevo_rut" type="text">
			  			</td>
			  			<td>
			  				<button class="btn btn-default" type="button" id="nueva_carga" href="#"><span class="glyphicon glyphicon-plus"></span> Agregar carga</button>
			  			</td>
			  		</tr>
			  	</tbody> 
			  </table>
		  	</div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-success">Agregar</button>
		      <a href="{% url 'acad' %}">[volver a lista de academicos]</a>
		    </div>
		  </div>
		</form>
	</div>
</div>
<script type="text/javascript">
	var cargas=[];
	//al presionar el link de nueva carga



	$('#nueva_carga').on('click', function(event) {
		if(validarNuevaCarga()){
			if(!existeCarga(getNuevaCarga())){
				carga=getNuevaCarga()
				cargas.push(carga);
				boton="<btn class='btn btn-link hola' type='button' style='color:red;'>[quitar]</btn>"
				row="<tr>";
				row+="<td>";
				row+=carga.nombre;
				row+="</td>";
				row+="<td>";
				row+=carga.apellido;
				row+="</td>";
				row+="<td>";
				row+=carga.rut;
				row+="</td>";
				row+="<td>";
				row+=boton;
				row+="</td>";
				row+="</tr>";
				$('#tabla_cargas tr:last').after(row);
			}else{
				alert("El rut de la carga ingresada ya existe, revise por favor.");
			}
		}else{
			alert("Entrada no válida en nueva carga, revise por favor.");
		}
	});

	$(".hola").on("click",function(){
		alert("jj");
	    //console.log($(this));
	    //$(this).parent().parent().remove()
	});

	function validarNuevaCarga(){
		valido=true;
		nombre=$('#nuevo_nombre').val();
		apellido=$('#nuevo_apellido').val();
		rut=$('#nuevo_rut').val();
		if(nombre==''||apellido==''||rut==''){
			valido=false;
		}
		return valido;
	}

	function existeCarga(carga){
		existe=false;
		for (c in cargas){
			if(cargas[c].rut===carga.rut){
				existe=true;
				break;
			}
		}
		return existe;
	}

	function getNuevaCarga(){
		carga={};
		carga.nombre=$('#nuevo_nombre').val();
		carga.apellido=$('#nuevo_apellido').val();
		carga.rut=$('#nuevo_rut').val();
		return carga;
	}

</script>
{% endblock %}