{% extends 'base.html' %}
{% block title%}Indice{% endblock %}

{% block content%}

<legend>Registrar Academico</legend>
<div class="row">
	<div class="col">
		<form class="form-horizontal" method="POST" onsubmit=" return submitHandler()">
		{% csrf_token %}
			<div id="cargas_">
			</div>
		  <div class="form-group">
		    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
		    <div class="col-sm-10">
		      <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre Academico">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="apellido" class="col-sm-2 control-label">Apellido</label>
		    <div class="col-sm-10">
		      <input name="apellido" type="text" class="form-control" id="apellido" placeholder="Apellido Academico">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="rut" class="col-sm-2 control-label">Rut</label>
		    <div class="col-sm-10">
		      <input name="rut" type="text" class="form-control" id="rut" placeholder="12345678-0">
		    </div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-10 col-sm-offset-2">
			  	<div class="panel panel-primary">
			  	<div class="panel-heading">
			  		<label for="asignaturas">Asignaturas</label>
			  	</div>
			  	<div class="panel-body">
			  		<div class="col-sm-10 col-sm-offset-2">
					  	<select id="select_asignaturas" multiple name="asignaturas" class="form-control">
					  		{% for a in asignaturas%}
					  		<option value="{{a.id}}" >{{ a.nombre }}</option>
							{% endfor %}
					  	</select>
			  		</div>
			  	</div>
			  	<div class="panel-footer">
			  		Puede escoger ninguna, una, varias (<kbd>ctrl</kbd>+<kbd>CLICK</kbd>) o todas
			  	</div>
			  	</div>		  		
		  	</div>
		  </div>
		  <div class="form-group">
		  	<div class="col-sm-offset-2 col-sm-10">
	  		  <table id="tabla_cargas" class="table"> 
			  	<thead> 
			  		<th>Nombre</th>
			  		<th>Apellido</th>
			  		<th>R.U.T</th> 
			  		<th></th>
			  	</thead> 
			  	<tbody> 
			  		<tr mantener="si">
			  			<td>
			  				<input class="form-control" id="nuevo_nombre" type="text">
			  			</td>
			  			<td>
			  				<input class="form-control" id="nuevo_apellido" type="text">
			  			</td>
			  			<td>
			  				<input class="form-control" id="nuevo_rut" type="text">
			  			</td>
			  			<td>
			  				<button class="btn btn-default" type="button" id="nueva_carga" href="#"><span class="glyphicon glyphicon-plus"></span> Agregar carga</button>
			  			</td>
			  		</tr>
			  	</tbody> 
			  </table>
		  	</div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-success">Agregar</button>
		      <a href="{% url 'acad' %}">[volver a lista de academicos]</a>
		    </div>
		  </div>
		</form>
	</div>
</div>
<script type="text/javascript">
	var cargas=[];
	renderizar_tabla();
	var settings;
	//al presionar el link de nueva carga

	$('#nueva_carga').on('click', function(event) {
		if(validarNuevaCarga()){
			if(!existeCarga(getNuevaCarga())){
				carga=getNuevaCarga()
				cargas.push(carga);
				renderizar_tabla();
			}else{
				alert("El rut de la carga ingresada ya existe, revise por favor.");
			}
		}else{
			alert("Entrada no válida en nueva carga, revise por favor.");
		}
	});

	function validarNuevaCarga(){
		valido=true;
		nombre=$('#nuevo_nombre').val();
		apellido=$('#nuevo_apellido').val();
		rut=$('#nuevo_rut').val();
		if(nombre==''||apellido==''||rut==''){
			valido=false;
		}
		return valido;
	}

	function existeCarga(carga){
		existe=false;
		for (c in cargas){
			if(cargas[c].rut===carga.rut){
				existe=true;
				break;
			}
		}
		return existe;
	}

	function getNuevaCarga(){
		carga={};
		carga.nombre=$('#nuevo_nombre').val();
		carga.apellido=$('#nuevo_apellido').val();
		carga.rut=$('#nuevo_rut').val();
		return carga;
	}

	function quitarCarga(carga_rut){
		eliminado=false;
		for(i in cargas){
			c=cargas[i];
			if(c.rut===carga_rut){
				cargas.splice(i,1);
				eliminado=true;
				renderizar_tabla();
				break;
			}
		}
		return eliminado;
	}

	function renderizar_tabla(){
			$("#tabla_cargas > tbody >tr").each(function(){
				if(!$(this).attr("mantener")){
					$(this).remove();
				}
			});
			for(i in cargas){
				carga=cargas[i];
				boton="<button onClick='quitarCarga(\""+carga.rut+"\")' type='button' style='color:red;'>[quitar]</button>"
				row="<tr>";
				row+="<td>";
				row+=carga.nombre;
				row+="</td>";
				row+="<td>";
				row+=carga.apellido;
				row+="</td>";
				row+="<td>";
				row+=carga.rut;
				row+="</td>";
				row+="<td>";
				row+=boton;
				row+="</td>";
				row+="</tr>";
				$('#tabla_cargas tr:last').after(row);
		}
	}

	function submitHandler(){
		var data={};
		data.academico={
			nombre:$("#nombre").val(),
			apellido:$("#apellido").val(),
			rut:$("#rut").val(),
		};
		data.cargas=cargas;
		data.asignaturas=[]
		$('#select_asignaturas :selected').each(function(){
			data.asignaturas.push($(this).val());
		});
		settings = {
		  async: true,
		  crossDomain: true,
		  url: "{% url "acad_reg_ajax" %}",
		  method: "POST",
		  data:JSON.stringify(data),
		  dataType:"JSON",
		  contentType: "application/json",
		  headers: {
			"cache-control": "no-cache",
		    "X-Requested-With":"XMLHttpRequest",//importante para que sea detectado como AJAX
		    "X-CSRFToken":$('input[name=csrfmiddlewaretoken]').val(),
		  }
		}

		$.ajax(settings).done(function (response) {
			if(response['result']==='yes'){
				window.location.href='{% url "acad"%}';
			}else{
				alert("Datos faltantes o no válidos, por favor revisar");
			}
		});

		return false;
	}

</script>
{% endblock %}